*.class
*.log

# sbt specific and slick generated exclude
.cache
.lib/
dist/*

#/project/**/target/
#target/resolution-cache/
#target/streams/
#target/.history
#target/**/classes/
#target/**/*.jar
#target/**/src_managed/*
#!target/**/src_managed/slick

target/
lib_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

## Intellij
.idea/
*.ipr
*.iws
out/
com_crashlytics_export_strings.xml

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## OS Specific
.DS_Store
Thumbs.db
*.bat